In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [4]:
pd.__version__

'2.2.3'

In [14]:
a = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
a

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [15]:
type(a)

pandas.core.series.Series

In [19]:
print(a['a'])

10

In [22]:
a.shape

(5,)

In [23]:
a.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [24]:
a.size

5

In [25]:
a.describe()

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [26]:
a.sort_values(ascending=False)

e    50
d    40
c    30
b    20
a    10
dtype: int64

In [4]:
frame = pd.DataFrame({"name": ["Sachin", "Rahul", "Bharath", "Kishore","Dinesh"],
                      "age": [25, 30, 35, 40, 45],
                      "city": ["Bangalore", "Chennai", "Hyderabad", "Delhi", "Mumbai"]})
frame

      name  age       city
0   Sachin   25  Bangalore
1    Rahul   30    Chennai
2  Bharath   35  Hyderabad
3  Kishore   40      Delhi
4   Dinesh   45     Mumbai

In [33]:
frame.shape

(5, 3)

In [31]:
frame.columns

Index(['name', 'age', 'city'], dtype='object')

In [34]:
frame.size

15

In [5]:
frame.to_csv('Frame.csv', index=False)