In [1]:
import pandas as pd
import numpy as np

In [21]:
df= pd.DataFrame({
    'A':[12,67,56,78,90],
    'B':[12,67,67,78,12],
    'C':[34,67,78,90,23]
})  # Creating a DataFrame from the dictionary

In [22]:
df

    A   B   C
0  12  12  34
1  67  67  67
2  56  67  78
3  78  78  90
4  90  12  23

In [23]:
df.duplicated()  # Checks for duplicate rows in the DataFrame

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [24]:
df.duplicated().sum()  # Counts the number of duplicate rows

np.int64(0)

In [25]:
df.drop_duplicates()  # Drops duplicate rows from the DataFrame

    A   B   C
0  12  12  34
1  67  67  67
2  56  67  78
3  78  78  90
4  90  12  23